@model IEnumerable<ModernRecrut.MVC.Models.Note>


@{
    ViewData["Title"] = "Index";
}

<h1>Liste de mes notes </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomEmetteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostulationID)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomEmetteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostulationID)
                </td>
              
                <td>
                    <a asp-action="Delete" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Supprimer</a>
                    <a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Modifier</a>
					<a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Détails</a>
            </tr>
        }
    </tbody>
</table>
